/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */
body {
    background: rgb(0, 0, 0);
    color: azure;
    width: 100%;
}

h1 {
    color: aqua;
    text-align: center;
}

h2 {
    color: blueviolet;
}

p {
    color: rgb(13, 219, 234);
    text-align: left;
}

.right-image {
    align-items: center;
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;

}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left-image {
    width: 400px;
    height: 600px;
    
}

.right-image {
    width: 400px;
    height: 600px;
    align-items: center;
}

img {
    width: auto;
    height: 100%;
}